.main{
    height: 550px;
    width: 700px;
    background-color: rgba(6, 173, 137, 0.605)
}
.main1{
    display: flex;
    flex-direction: row;
    gap: 350px;
    background-color: rgb(91, 91, 91);
}
.item{
   color: white; 
   text-align: justify;
}
.main2{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}
.box1{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 6;
    
    margin: 20px;
    background-color: rgb(48, 47, 47);

    height: 415px;
    width: 100px;
}
.box2{
    grid-column-start: 2;
    grid-column-end: 5;

    margin: 20px;
    background-color: rgb(48, 47, 47);
    color: rgb(235, 229, 229);

    height: 30px;

}
.box3{
    margin: 20px;
    background-color: rgb(48, 47, 47);
}
.box4{
    margin: 20px;
    background-color: rgb(48, 47, 47);
}
.box5{
    margin: 20px;
    background-color: rgb(48, 47, 47);
}
.box6{
    grid-column-start: 2;
    grid-column-end: 5;

    margin: 20px;
    background-color: rgb(48, 47, 47);
}
